$bgColor: #fff;
$baseWidth: 80vmin;
$gridWidth: $baseWidth / 28;
@import "./ship.scss";

html {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $bgColor;
  margin: 0;

  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/water.jpg);
  overflow: hidden;
}

.legal {
  color: #fff;

  position: absolute;
  bottom: 15px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;

  * {
    color: #fff;
  }
}

h3 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

// 28 squares, all 20px = 560
#grid {
  display: flex;
  flex-wrap: wrap;
  width: 80vmin;
  height: 80vmin;
  position: relative;
  z-index: 1;

  border: 2px dashed #188bbb;

  div {
    width: calc(80vmin / 28);
    height: calc(80vmin / 28);
    background-image: url(./assets/ground.jpg);
  }

  .wall {
    background-image: url(./assets/gras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dot {
    background-image: url(./assets/ground.jpg);
    background-repeat: no-repeat;

    position: relative;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      height: 50%;
      width: 50%;
      background: url("./assets/candy.svg");
      background-size: cover;
      z-index: 1;
      top: 25%;
      left: 25%;
      z-index: 1;
    }
  }

  .power-up {
    background-image: url(./assets/ground.jpg);

    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 0px -70px;
    position: relative;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      height: 90%;
      width: 90%;
      background: url("./assets/cake.svg");
      background-size: cover;
      z-index: 1;
      top: 5%;
      left: 5%;
    }
  }

  .player {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      background-image: url("./assets/dwarf.svg");
      height: 100%;
      width: 100%;
    }
  }

  .enemy {
    border: 0;
    z-index: 8;
    // background-color: transparent;
    background-color: pink;

    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }

    &-1 {
      &:after {
        background-image: url(./assets/monster-red.svg);
      }
    }
    &-2 {
      &:after {
        background-image: url(./assets/monster-green.svg);
      }
    }
    &-3 {
      &:after {
        background-image: url(./assets/monster-purple.svg);
      }
    }
    &-4 {
      &:after {
        background-image: url(./assets/monster-yellow.svg);
      }
    }

    &-scared {
      &:after {
        background-image: url(./assets/monster-cyan.svg);
      }
    }
  }
}
