$bgColor: #fff;
$baseWidth: 80vmin;
$gridWidth: $baseWidth / 28;

html {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $bgColor;
  margin: 0;

  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

// 28 squares, all 20px = 560
#grid {
  display: flex;
  flex-wrap: wrap;
  width: 80vmin;
  height: 80vmin;
  border: 1px solid #000;

  div {
    width: calc(80vmin / 28);
    height: calc(80vmin / 28);
  }
}

.dot {
  background: green;
  border: 5px solid #fff;
  box-sizing: border-box;
}

.wall {
  background: blue;
}

.power-pellet {
  background: red;
  border-radius: 50%;
}

.player {
  background: yellow;
  border-radius: 50%;
  border: 0px;
}

.enemy {
  border: 0;

  &-1 {
    background: red;
  }
  &-2 {
    background: pink;
  }
  &-3 {
    background: purple;
  }
  &-4 {
    background: orange;
  }

  &-scared {
    background: aquamarine;
  }
}
